@keyframes initModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

body{
  margin: auto;
  font-family: sans-serif;
}

.modalInit {
  animation: initModal 0.5s ease-in-out 0s 1 normal forwards;
}

.modalClose {
  animation: initModal 0.5s ease-in-out 0s 1 reverse forwards;
}

@keyframes sliding {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.menuInit {
  animation: sliding 0.5s ease-in-out 0s 1 normal forwards;
}

.menuClose {
  animation: sliding 0.5s ease-in-out 0s 1 reverse forwards;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #e5e7eb;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-family: sans-serif;
}

.navbar-side{
  display: flex;
  align-items: center;
}

.navbar-menu{
  display: block;
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.navbar-logo{
  display: block;
  vertical-align: middle;
  cursor: pointer;
  --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.navbar-midlle{
  display: block;
  position: relative;
}

.navbar-recherche{
  width: 660px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #e5e7eb;
  border-radius: 1.5rem;
  font-size: large;
}

.navbar-recherche-logo{
  width: 1rem;
  height: 1rem;
  left: 0.75rem;
  top: 0.75rem;
  position: absolute;
}

.navbar-sign_in{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  border-radius: 1.5rem;
  cursor: pointer;
  margin-right: 10%;
}

.navbar-sign_up{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: black;
  color: #FFFF;
  border-radius: 1.5rem;
  cursor: pointer;
}

.navbar-menu-sign_in{
  border-radius: 0px;
  padding: 12px 16px;
  font-size: 18px;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 30px;
  background: #EEEEEE;
  color:rgb(0, 0, 0);
  font-weight: 500;
  width: auto;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 25px;
  margin-bottom: 5px;
  margin-top: 8px;
}

.navbar-menu-sign_up{
  border-radius: 0px;
  padding: 12px 16px;
  font-size: 18px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 30px;
  font-weight: 500;
  width: auto;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  margin: 25px;
  margin-bottom: 8px;
}

.navbar-menu-text{
  font-size: 20px;
  margin: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-menu-subtext{
  position: absolute;
  font-size: 13px;
  margin: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  bottom: 0;
  text-align: center;
}

.cookies{
  width: 100%;
  position: sticky!important;
  margin-left: 30%;
}

.cookies-refuse{
  border-radius: 0px!important;
  font-size: 18px!important;
  background: #EEEEEE;
  color:rgb(0, 0, 0)!important;
  font-weight: 500!important;
  text-align: center;
  bottom: 15px;
  margin-right: 15px!important;
}

.cookies-accept{
  border-radius: 0px!important;
  font-size: 18px!important;
  background: rgb(0, 0, 0)!important;
  color: rgb(255, 255, 255)!important;
  font-weight: 500!important;
  text-align: center;
  bottom: 15px;
  margin-right: 15px!important;
}

.cookies-accept:hover{
  color: #000000!important;
  background: #EEEEEE!important;
}

.nocontent{
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.root-cat{
  grid-column: 1 / -1;
  min-width: 0px;
}

.nav-cat{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.ul-cat{
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0;
  flex-flow: row wrap;
}

.a-cat{
  max-width: fit-content;
  min-width: 80px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.circle-cat{
  height: 60px;
  width: 60px;
  position: relative;
}

.image-cat{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.span-cat{
  text-align: center;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}

.span-div-cat{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.il-cat{
  display: block;
  padding-top: 20px;
}

.sep-cat{
  width: 95%;
  border-bottom: solid 2px #e5e7eb;
  padding-top: 60px;
  margin: 0 auto;
}

.product-grid{
  margin-bottom: -24px;
  margin-left: -12px;
  -webkit-box-lines: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.main-right-side{
  width: 75%;
  margin-left: 0%;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-left: 12px;
  display: block;
  flex: none;
  box-sizing: border-box;
}

.main-left-side{
  margin-left: 0%;
  margin-bottom: 24px;
  padding-right: 12px;
  padding-left: 12px;
  width: 25%;
  display: block;
  flex: none;
  box-sizing: border-box;
}

.products-menu{
  max-height: 100vh;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.products-section{
  scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.products-box{
  scroll-snap-align: start;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

.products-li{
  width: 22%;
  margin-right: 2.5%;
  flex: none;
  display: block;
}

.products-pos{
  overflow: hidden;
  position: relative;
  height: auto;
}

.products-a{
  text-decoration: none;
  color: inherit;
}

.products-img{
  width: 100%;
  height: auto;
  margin-top: -30px;
  margin-bottom: 30px;
}

.products-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #FFFF;
}

.product-title{
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.product-subtitle{
  line-height: 20px;
  color: #545454;
  font-weight: normal;
  text-overflow: ellipsis;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.product-rate{
  position: absolute;
  top: 24%;
  right: 0;
  background-color: #e5e7eb;
  border: solid 5px #e5e7eb;
  border-radius: 360px;
  font-size: small;
}

.product-fav{
  position: absolute;
  color: #FFFF;
  right: 0;
  padding: 10px;
  z-index: 5;
}

.product-fas{
  color: rgb(5, 163, 87);
  height: 13px;
}

.product-fav:hover{
  color: rgb(5, 163, 87);
}

.product-offer-rub{
  display: flex;
  padding: 12px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  top: 0;
}

.product-offer{
  position: absolute;
  border-radius: 0 360px 360px 0;
  background-color: rgb(5, 163, 87);
  padding: 4px 12px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-overflow: ellipsis;
  line-height: 16px;
  font-weight: 500;
  font-size: 14px;
  font-family: sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

.thumbnail-section{
  display: flex;
  padding: 24px 40px;
  padding-left: 60px;
  margin-left: -40px;
}

.thumbnail-box{
  width: calc(33.3333% + -16px);
  height: 200px;
  margin: 0px 12px;
  flex: none;
}

.thumbnail-img{
  width: auto;
  height: 100%;
  border-radius: 10px;
  float: right;
}

.thumbnail-a{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.thumbnail-title{
  position: absolute;
  width: 22%;
  font-size: 1.9vw;
  font-weight: 700;
  line-height: 1.3;
  padding: 15px;
}

.thumbnail-subtitle{
  position: absolute;
  width: 22%;
  font-size: 1vw;
  font-weight: 200;
  line-height: 1.3;
  padding: 15px;
  padding-top: 60px;
}

.thumbnail-button{
  position: absolute;
  margin-top: 9%!important;
  margin: 20px;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  background-color: #FFF;
  border-radius: 1.5rem;
  border: solid 10px #FFF;
}

.thumbnail{
  background-color: rgb(226, 226, 226);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.sidemenu-section{
  margin-left: 10%;
  margin-top: 4%;
}

.sidemenu-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}

.sidemenu-text{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  padding-top: 2.5%;
}

.sidemenu-dot{
  font-size: 70px;
  color: #FFF;
  border: solid 2px #545454;
  border-radius: 360px;
  box-sizing: border-box;
  box-shadow:0px 0px 0px 3px #545454 inset;
  margin-right: 5px;
}

.sidemenu-dot:hover{
  font-size: 70px;
  color: #FFF;
  border: solid 2px black;
  border-radius: 360px;
  box-sizing: border-box;
  box-shadow:0px 0px 0px 3px black inset;
  margin-right: 5px;
}

.sidemenu-inline-section{
  display: flex;
  margin-top: 15px;
}

.sidemenu-fas{
  height: 20px;
  padding-top: 2.5%;
  margin-right: 10px;
}

.sidemenu-sub-section{
  display: flex;
  flex-flow: wrap;
}

.sidemenu-perprice{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #EEEEEE;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-right: 4%;
  margin-top: 4%;
  text-align: center;
  width: calc(5% + 20px);
}

.sidemenu-tag{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: #EEEEEE;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-right: 4%;
  margin-top: 4%;
  text-align: center;
  width: fit-content;
}

.sidemenu-slider{
  margin-top: 8%;
  width: 80%!important;
  color: #000000!important;
}

.restaurant-thumbnail{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-desc{
  display: block;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 24px;
}

.restaurant-info{
  margin-left: 7%;
}

.restaurant-subtitle{
  font-weight: 700;
}

.restaurant-title{
  margin-top: 10%;
  font-size: 36px;
  line-height: 6px;
  font-weight: 700;
  white-space: nowrap;
}

.restaurant-img{
  height: 250px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.admin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.admin-card {
  width: 800px;
  height: auto;
  margin-top: 15px;
}

.admin-connected {
  width: 15px;
  height: 15px;
  background-color: rgb(40, 142, 72);
  border-radius: 50%;
}

.admin-disconnected {
  width: 15px;
  height: 15px;
  background-color: rgb(205, 25, 25);
  border-radius: 50%;
}
